<div class="border border-dark p-4 text-center">
  <%= form_with(model: [@client, @pet, pet_history], local: true) do |form| %>
    <% if pet_history.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pet_history.errors.count, "error") %> prohibited this pet_history from being saved:</h2>

        <ul>
        <% pet_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :weight, "PESO" %>
      <%= form.text_field :weight %>
    </div>

    <div class="field">
      <%= form.label :heigth, "ALTURA" %>
      <%= form.text_field :heigth %>
    </div>

    <div class="field">
      <%= form.label :description, "DESCRIPCION" %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit class:"btn btn-success rounded-pill text-white mt-3 border border-info" %>
    </div>
  <% end %>
</div>